# iterations:

In [ ]:
#loops:
-repeat sequence of instructions until a specific condition satisfies
1. for loop
2. while loop
3. Nested for loop

# for loop

In [ ]:
- for loop is used in the case where we need to execute some part of the code until the give condition satisfied.
-syntax:
    for iterating_var in iterable:
        statement/statements

In [ ]:
for i in range(n,m):
    statement
for i in range(1,10):    (1 include and 10 exclude)
    print(i)            (n -------->include(n))
                         (m----------> exclude(m-1))

-output..............
1
2
3
4
5
6
7
8
9

In [1]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [2]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [3]:
# odd numbers
for i in range(1,10,2):    #difference 1 
    print(i,end=" ")       #step=difference(skipping)

1 3 5 7 9

In [13]:
# even numbers
for i in range(2,10,2):    
    print(i,end=" ")

2 4 6 8

In [12]:
for letter in "hello world":
    print(letter,end=" ")

h e l l o   w o r l d

In [9]:
for letter in 1,2,3,4:
    print(letter,end=",")

1,2,3,4,

In [15]:
#natural numbers
n=int(input("enter number:"))
for i in range(1,n+1):
    print(i,end=" ")

enter number:60
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [19]:
n=int(input("enter number:"))
for i in range(1,n+1):
    print(i*5,end=" ")

enter number:5
5 10 15 20 25

In [20]:
ord('a')

97

In [21]:
ord('A')

65

In [1]:
#average
n=int(input("n value:"))
m=int(input("m value:"))
s=0  # sum
for i in range(n,m+1):
    s+=i  # s=s+i 
print(s/(m-n+1))   #average

n value:1
m value:5
3.0

In [3]:
#aba
#97+98+97=......
a=input()
s=0
for i in a:
    s=s+ord(i)
print(a,"sum is",s)

aba
aba sum is 292

In [ ]:
#task 1
# output:
*    *
*    *
******       # using for loop
*    *
*    *           #  only one input
******            
*    *             
*    *

In [ ]:
#task 2
n table multiples of m
n=int(input())
m=int(input(multiples of))           #2 inputs
7 * 1 = 7
7 * 2 =14

In [ ]:
#task 3
multiple tables
how many tables   # n = number of tables
how many multiples  # m=multiple tables
1*1=1 2 3 4 5 
1*2=2                #nested for loop
1*3=3
1*4=4
1*5=5

# While loop

In [ ]:
# syntax
initialization
while(condition):
    statement
    increment/decrement

In [4]:
n=2
while n<5:
    print("thank you")
    n+=1

thank you
thank you
thank you

In [8]:
n=1
while n<5:
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"is odd")
    n+=1

1 is odd
2 is even
3 is odd
4 is even

# Nested loop

In [ ]:
# syntax
for val in sequence:
    for val in sequence:
        statement
else:
    statements

In [12]:
for i in range(1,6):
    for j in range(0,i):
        print(j,end="    ")
    print('')

0
0    1
0    1    2
0    1    2    3
0    1    2    3    4

In [33]:
for i in range(2,4):
    for j in range(0,2):
        print("*",end="    ")
        
    print('')

*    *
*    *

In [ ]:
#task 1
# output:
*    *
*    *
******       # using for loop
*    *
*    *           #  only one input
******            
*    *             
*    *
..............................................................
#task 2
n table multiples of m
n=int(input())
m=int(input(multiples of))           #2 inputs
7 * 1 = 7
7 * 2 =14
..............................................................
#task 3
multiple tables
how many tables   # n = number of tables
how many multiples  # m=multiple tables
1*1=1 2 3 4 5 
1*2=2                #nested for loop
1*3=3
1*4=4
1*5=5

# TASKS 1,2,3

In [38]:
# Task 1
for i in range(1,3):
    print("*    *")
    print("*    *")
    print("******")
for i in range(2,4):
    for j in range(0,2):
        print("*",end="    ")
        
    print('')

*    *
*    *
******
*    *
*    *
******
*    *
*    *

In [48]:
#Task 2
n=int(input("table:"))
m=int(input("multiples of:"))
for i in range(1,m+1):
    print(n,"*",i,"=",n * i)

table:2
multiples of:10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [1]:
n=int(input("number of tables:"))
m=int(input("multiples of:"))
for i in range(1,n+1):
    for s in range(1,m+1):
        print(s,"*",i,"=",s * i ,end="\t")
print(" ")

number of tables:4
multiples of:5
1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20